.about-us {
  margin-bottom: 55px;

  @media (min-width: @tablet-width) {
    margin-bottom: 26px;
  }
}

.about-us__wrapper--flex {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.about-us__header {
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 53px;
  }
}

.about-us__list {
  margin: 0;
  padding-left: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin-right: 43px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.about-us__item {
  padding-top: 54px;
  margin-bottom: 29px;
  width: 249px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  background-repeat: no-repeat;
  color: black;

  &--flower {
    background-image: url("../img/icon-feature-flower.svg");
    background-position: 8px 0;
  }

  &--money {
    background-image: url("../img/icon-feature-money.svg");
    background-position: 0 0;
  }

  &--heart {
    background-image: url("../img/icon-feature-heart.svg");
    background-position: 8px 6px;
  }

  &--ball {
    background-image: url("../img/icon-feature-ball.svg");
    background-position: 3px 3px;
  }

  &--rocket {
    background-image: url("../img/icon-feature-rocket.svg");
    background-position: -1px 4px;
  }

  &--gift {
    background-image: url("../img/icon-feature-gift.svg");
    background-position: 3px 2px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
    width: 293px;
    font-size: 20px;
    line-height: 22px;
  }
}
