.form__fieldset {
  padding: 0;
  margin-bottom: 40px;
  border: 0;

  &--personal,
  &--contacts {
    margin-bottom: 30px;
  }

  &--add {
    margin-bottom: 17px;
  }
}

.form__wrapper {
  &--radio {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--checks {
    flex-direction: column;
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--check {
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--personal {
    margin-bottom: 21px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--contact {
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--send {
    margin-bottom: 54px;
  }
}

.form__wrapper--phone {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 7px;
    width: 25px;
    height: 24px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
  }
}

.form__wrapper--mail {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 3px;
    width: 32px;
    height: 26px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
  }
}

.form__header {
  position: relative;
  margin-top: 0;
  margin-bottom: 24px;

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 0;
    width: 197px;
    height: 1px;
    background-color: @light-blue;
  }

  &--mail::after {
    width: 178px;
  }

  &--contact {
    margin-bottom: 12px;
  }
}

.form__label {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: black;

  &--radio {
    padding-left: 63px;
    padding-top: 9px;
  }

  &--checkbox {
    padding-left: 65px;
    padding-top: 12px;
  }
}

// radio buttons stylesheet
.form__input--radio {
  display: none;
}

.form__input--radio + .form__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  background-color: white;
  border: 2px solid @base-color;
  border-radius: 50%;
  cursor: pointer;
}

.form__input--radio:checked + .form__label::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  background-color: @light-blue;
  box-shadow: 0 0 0 10px white, 0 0 0 12px @base-color;
  border: 0;
  transition: background-color 0.2s ease-in-out;
}

// checkbox button stylesheet
.form__input--check {
  display: none;
}

.form__input--check + .form__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 35px;
  background-color: white;
  border: 2px solid @base-color;
  cursor: pointer;
}

.form__input--check:checked + .form__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 35px;
  background-color: white;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 23px;
  border: 2px solid @base-color;
}

// text inputs stylesheet
.form__label--text {
  margin-bottom: 6px;
}

.form__input--text {
  padding-top: 16px;
  padding-bottom: 15px;
  width: 100%;
  background-color: white;
  border: 0;
  border-bottom: 2px solid black;

  &::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
    opacity: 0.3;
  }

  &::-moz-placeholder {
    font-size: 17px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
    opacity: 0.3;
  }

  &:-moz-placeholder {
    font-size: 17px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
    opacity: 0.3;
  }

  &:-ms-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
    opacity: 0.3;
  }
}

.form__textarea {
  padding-top: 15px;
  padding-left: 16px;
  width: 260px;
  min-height: 142px;
  border: 2px solid @base-color;
  box-sizing: border-box;
  resize: vertical;

  &::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
    opacity: 0.3;
  }

  &::-moz-placeholder {
    font-size: 17px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
    opacity: 0.3;
  }

  &:-moz-placeholder {
    font-size: 17px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
    opacity: 0.3;
  }

  &:-ms-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
    opacity: 0.3;
  }
}

.form__note {
  margin: 0;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;
}
