.page-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  .margin();
}

.page-header__link {
  align-self: center;
  padding-top: 22px;
  padding-bottom: 15px;
}
