.product {
  margin-top: 29px;
  border: 2px solid @light-grey;
}

.product__img {
  margin-top: -2px;
  margin-left: -2px;
}

.product__desription {
  padding-left: 28px;
  padding-right: 26px;
  padding-top: 21px;
  padding-bottom: 28px;
}

.product__facts {
  padding-bottom: 23px;
}

.product__header {
  margin: 0;
  width: 200px;
}

.product__parameter {
  margin: 0;
  margin-top: 8px;
  font-size: 13px;
}

.product__buying {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
}

.product__price {
  font-weight: bold;
  color: black;
}

.product__cart {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 0;
  padding-top: 19px;
  overflow: hidden;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
}
