.production-process {
  margin-bottom: 57px;
}

.production-process__description {
  padding-top: 23px;
  padding-bottom: 32px;
  border: 2px solid @light-grey;
}

.production-process__header {
  position: relative;
  padding-left: 90px;
  margin: 0;
  margin-bottom: 24px;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 34px;
    width: 32px;
    height: 27px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.production-process__video {
  position: relative;
  margin-bottom: 27px;
  width: 260px;
  height: 150px;
}

.production-process__img {
  margin-left: -2px;
}

.production-process__play-btn {
  position: absolute;
  top: 36px;
  left: 79px;
  width: 100px;
  height: 0;
  padding-top: 76px;
  border: 0;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
}

.production-process__text {
  width: 190px;
  padding-left: 34px;
  margin-bottom: 25px;
  font-size: 13px;
}

.production-process__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 13px;
  width: 192px;
}
