.week-product {
  margin-bottom: 68px;
}

.week-product__header {
  margin-top: 27px;
  margin-bottom: 6px;
}

.week-product__note {
  margin: 0;
  margin-bottom: 22px;
  line-height: 20px;
}

.week-product__text {
  margin: 0;
  margin-bottom: 17px;
}

.week-product__price {
  display: flex;
  justify-content: center;
  margin-top: 19px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 17px;
}
